<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo red-text">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Tyres", "#" %></li>
          <li><%= link_to "Tyre Education", "#" %></li>
          <li><%= link_to "Delivery & Installation", "#" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>